---
layout: default
---
<article>
  <h2>{{ page.title }}</h2>
  {% for tag in page.tag %}
  {% endfor %}
  <span class="post-category"》
    <span class="label">{{ page.category }}</span>
  </span>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date_to_string }}</span>
  </div>

  <div class="post">
  {{ content }}
  </div>
  <div class="post-meta">
    <span>Tags: </span>
    {% for tag in page.tags %}
      <span style="margin: 5px">{{ tag }}</span>
    {% endfor %}
  </div>
  <div class="section-nav">
    <div class="left align-left">
      {% if page.previous %}
      <a href="{{ page.previous.url}}" class="prev">上一篇:<b class="mobile-ignore"> {{ page.previous.title }}</b></a>
      {% endif %}
    </div>
    <div class="right align-right">
      {% if page.next %}
      <a href="{{ page.next.url }}" class="next">下一篇:<b class="mobile-ignore"> {{ page.next.title }}</b></a>
      {% endif %}
    </div>
  </div>
</article>
