---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  {% for tag in page.tag %}
  {% endfor %}
  <span class="post-category">
    <span class="label">{{ page.category }}</span>
  </span>
  <div class="post-meta">
    <time class="post-date">{{ page.date | date: "%Y-%m-%d %H:%M" }}</time>
  </div>
  <div class="post">
  {{ content }}
  </div>
  <div class="post-meta">
    <span>Tags: </span>
    {% for tag in page.tags %}
      <span style="margin: 5px"><a href="/tags.html#{{ tag }}">{{ tag }}</a></span>
    {% endfor %}
  </div>
  <!-- baidu share -->
  <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_t163" data-cmd="t163" title="分享到网易微博"></a></div>
  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];</script>
  <!-- end baidu share -->
  <div class="section-nav">
    <div class="left align-left">
      {% if page.previous %}
      <a href="{{ page.previous.url}}" class="prev">上一篇:<b class="mobile-ignore"> {{ page.previous.title }}</b></a>
      {% endif %}
    </div>
    <div class="right align-right">
      {% if page.next %}
      <a href="{{ page.next.url }}" class="next">下一篇:<b class="mobile-ignore"> {{ page.next.title }}</b></a>
      {% endif %}
    </div>
  </div>
</article>
<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"biedalian"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- Duoshuo Comment END -->

